@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /*this is the bg image for the get portfolio home page*/
  background-image: url('../images/bg-portfolio-homepage.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
} 

img {
  max-width: 100%;
}

h1 {
  font-family: "Balthazar", serif;
  font-weight: 400;
  font-style: normal;
}

header {
  aspect-ratio: 4764/4655;
  background-image: url('../images/SVG/title-bg-long.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  display: grid;
  grid-template-areas: "header-bar title";
  grid-template-columns: clamp(44px, 5%, 150px) auto;

  .left-header-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-area: header-bar;

    a {
      background-color: #D4FFBE;
      display: block;
    }

    img {
      width: 100%;
    }
  }

  .nuclear-ink-title {
    grid-area: title;
  }
}


.ink-and-about {
  display: grid;
  grid-template-areas: "ink-and-bio-pic about-text";
  grid-template-columns: min(50%, 500px) auto;
  gap: 10px;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  z-index: 100;

  .ink-and-bio-pic {
    grid-area: ink-and-bio-pic;
    margin: -50% 0 -15% 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  .about-text {
    grid-area: about-text;
    align-content: center;
    color: #D4FFBE;
  }

}

.commission-section {
  display: grid;
  // Each line of grid template areas is a row
  // Each row needs the same number of items in it
  // That's how you set the number of columns.
  grid-template-areas: 
    "commission-banner commission-banner"
    "commission-text slots-open-box";
  // Grid-template-columns only sets the WIDTH of each
  // column, it does not set the layout to act as a single
  // column; grid-template-rows sets the height of each row
  grid-template-columns: auto 120px;
  gap: 10px;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;

  .commission-text {
    grid-area: commission-text;
    font-size: 280%;


    h1 {
      color: #0E1242;
      text-align: center;
      background-color: #42E97A;
    }
  }

  .commission-banner {
    // margin: 60% 0;
    grid-area: commission-banner;
    margin: 8% 0 2% 0; //top 8%, right 0, bottom 2%, left 0
    img {
      width: 100%;
      height: auto;
    }
  }

  .slots-open {
    display: flex;
    flex-direction: column;
    margin: -30px 15px; // top and bottom are -30, left and right are 15px

    h1{
      color: #D4FFBE;
      text-align: center;
      padding-right: 12px;
      
      // margin-left: 10px;
    }

    .counter-box {
      background-color: #D4FFBE;
      // padding-left: 14px;
      // padding-bottom: 14th;
      padding: 14px;
      // margin: 15px;
      // position: center;
      display: flex;
      flex-direction: column;
      gap: 2px;
      // height: 190px; 
      width: 80px;

       h2 {
        margin: 0;
       }
    }

    .zero,
    .three {
      // padding: 20px;
      // height: 6.5vh;
      // width: 6vw;

      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .zero {
      background-color: #42E97A;
    }
      
    .three {
      background-color: #36BF84;
    }

    .slash {
      // margin: -23px;
      // padding-left: 45px;
      text-align: center;
    }
  }
}

.gallery-section {
  display: grid;
  grid-template-areas: "left-decore gallery-buttons";
  grid-template-columns: 30% 70%;

  .left-decore {
    padding: 15px;
    display: flex;
    flex-direction: column;
    grid-area: left-decore;
  
    .art-gallery {
      color: #43455D;
      margin: -4px;
      padding-left: 20px;
      font-size: clamp(2.2rem,4.5vw,5.2rem);
    }

    .jappanese-text {
      display: flex;
      flex-direction: row;
      gap: 0;

      h1 {
        background: #42E97A;
        width: 90px;
        height: auto;
        margin: 15px;
        font-size: 80px;
        color: #101344;
      }
    }

    .left-decore-box-neongreen{
      background: #97E826;
      width: 200px;
      height: auto;
      margin: 15px;
    }

    .left-decore-box-lightgreen{
      background: #CBFF5C;
      width: 100px;
      height: auto;
      margin: 15px;
    }
  }

  .gallery-buttons {
    // sizing when dragging veiwport is off, different pixel messurements?
    grid-area: gallery-buttons;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: auto;
    width: 64.6vw;
    gap: 20px;
    .button{
      
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;

      img {
        width: 30%;
        margin: 2% 0 2% 3%; //top 8%, right 0, bottom 2%, left 0
        background-color:#D4FFBE; 
      }

      h1{
        background-color:#D4FFBE; 
      }
    }
    .character-button {
      background-image: url('../images/bg-card-1.png');
      background-repeat: no-repeat;
      background-size: 100%;
    }

    .Ui-button {
      background-image: url('../images/bg-card-2.png');
      background-repeat: no-repeat;
      background-size: 100%;
    }

    .Bg-button {
      background-image: url('../images/bg-card-3.png');
      background-repeat: no-repeat;
      background-size: 100%;
    }

    .animation-button {
      background-image: url('../images/bg-card-4.png');
      background-repeat: no-repeat;
      background-size: 100%;
    }

    .graphic-button{
      background-image: url('../images/bg-card-5.png');
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}

 

footer{  //no gap? also still wont be horizontally aligned
  display: grid;
  grid-template-areas: 
    "biography biography biography character-design animations"
    "contact-me contact-me contact-me ui-design graphic-design"
    "tiktok instagram youtube backdrops physical-work";
    grid-template-columns: 12% 12% 12% 32% 32%;
    margin: 35px;
    gap: 200px;

    .footer-socials {
    background-color: #D4FFBE;
    height: auto;
    width: 5%;
    
  }

  .footer-text {
    background-color:#D4FFBE;
    height: auto;
    width: 300px;
  }
}

.inkbottle{ //NOT displaying teal box when nesting in inkbottle
    height: auto;
    width: 420px;
    z-index: 100;
    display: flex;
}

.footer-teal-box{
    background-color: #36BF84;
    height: 20%;
    width: 1000px;
    
}