body {
  /*this is the bg image for the get portfolio home page*/
  background-image: url('../images/bg-portfolio-homepage.png');
  background-size: 100%;
  background-repeat: no-repeat;
  
} 

.left-header-bar {
background-color: #D4FFBE;
}

.nuclear-ink-title {
  /*this background image is temp, and needs to be changes to a png to get the ends to be transprent (may 6th)*/
background-image: url('..images/title-ng-long.jpg')
background-size: 100%;

}