@import url("https://fonts.googleapis.com/css2?family=Balthazar&display=swap");
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /*this is the bg image for the get portfolio home page*/
  background-image: url("../images/bg-portfolio-homepage.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

img {
  max-width: 100%;
}

h1 {
  font-family: "Balthazar", serif;
  font-weight: 400;
  font-style: normal;
}

header {
  aspect-ratio: 4764/4655;
  background-image: url("../images/SVG/title-bg-long.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: grid;
  grid-template-areas: "header-bar title";
  grid-template-columns: clamp(44px, 5%, 150px) auto;
}
header .left-header-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-area: header-bar;
}
header .left-header-bar a {
  background-color: #D4FFBE;
  display: block;
}
header .left-header-bar img {
  width: 100%;
}
header .nuclear-ink-title {
  grid-area: title;
}

.ink-and-about {
  display: grid;
  grid-template-areas: "ink-and-bio-pic about-text";
  grid-template-columns: min(50%, 500px) auto;
  gap: 10px;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
}
.ink-and-about .ink-and-bio-pic {
  grid-area: ink-and-bio-pic;
  margin: -50% 0 -15% 0;
}
.ink-and-about .ink-and-bio-pic img {
  width: 100%;
  height: auto;
}
.ink-and-about .about-text {
  grid-area: about-text;
  align-content: center;
  color: #D4FFBE;
}

.commission-section {
  display: grid;
  grid-template-areas: "commission-banner commission-banner" "commission-text slots-open-box";
  grid-template-columns: auto 120px;
  gap: 10px;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}
.commission-section .commission-text {
  grid-area: commission-text;
}
.commission-section .commission-text h1 {
  color: #0E1242;
  background-color: #42E97A;
}
.commission-section .commission-banner {
  grid-area: commission-banner;
}
.commission-section .commission-banner img {
  width: 100%;
  height: auto;
}
.commission-section .slots-open {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}
.commission-section .slots-open h1 {
  color: #D4FFBE;
}
.commission-section .slots-open .counter-box {
  background-color: #D4FFBE;
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 80px;
}
.commission-section .slots-open .counter-box h2 {
  margin: 0;
}
.commission-section .slots-open .zero,
.commission-section .slots-open .three {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.commission-section .slots-open .zero {
  background-color: #42E97A;
}
.commission-section .slots-open .three {
  background-color: #36BF84;
}
.commission-section .slots-open .slash {
  text-align: center;
}

.gallery-section {
  display: grid;
  grid-template-areas: "left-decore gallery-buttons";
  grid-template-columns: 30% 70%;
}
.gallery-section .left-decore {
  padding: 15px;
  display: flex;
  flex-direction: column;
  grid-area: left-decore;
}
.gallery-section .left-decore .art-gallery {
  color: #43455D;
}
.gallery-section .left-decore .jappanese-text {
  display: flex;
  flex-direction: row;
  gap: 0;
}
.gallery-section .left-decore .jappanese-text h1 {
  background: #42E97A;
  width: 90px;
  height: auto;
  margin: 15px;
  font-size: 80px;
  color: #101344;
}
.gallery-section .left-decore .left-decore-box-neongreen {
  background: #97E826;
  width: 200px;
  height: auto;
  margin: 15px;
}
.gallery-section .left-decore .left-decore-box-lightgreen {
  background: #CBFF5C;
  width: 100px;
  height: auto;
  margin: 15px;
}
.gallery-section .gallery-buttons {
  grid-area: gallery-buttons;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.gallery-section .gallery-buttons .button {
  /*background-image: url('../images/SVG/');*/
  /*background-repeat: no-repeat;*/
  /*background-size: 100%;*/
  background-color: #D4FFBE;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.gallery-section .gallery-buttons .button img {
  width: 30%;
}
.gallery-section .gallery-buttons .character-button {
  /*background-image: url('../images/SVG/');*/
  /*background-repeat: no-repeat;*/
  /*background-size: 100%;*/
}
.gallery-section .gallery-buttons .Ui-button {
  /*background-image: url('../images/SVG/');*/
  /*background-repeat: no-repeat;*/
  /*background-size: 100%;*/
}
.gallery-section .gallery-buttons .Bg-button {
  /*background-image: url('../images/SVG/');*/
  /*background-repeat: no-repeat;*/
  /*background-size: 100%;*/
}
.gallery-section .gallery-buttons .animation-button {
  /*background-image: url('../images/SVG/');*/
  /*background-repeat: no-repeat;*/
  /*background-size: 100%;*/
}
.gallery-section .gallery-buttons .graphic-button {
  /*background-image: url('../images/SVG/');*/
  /*background-repeat: no-repeat;*/
  /*background-size: 100%;*/
}

.footer-socials {
  background-color: #D4FFBE;
}

.footer-text {
  background-color: #D4FFBE;
  height: 420px;
  width: 300px;
  grid-template-rows: auto;
  grid-template-areas: "Biography contact character-design" "Backdrops animations graphic-design physical-work";
}

.inkbottle {
  height: 550px;
  width: 550px;
}

.footer-teal-box {
  background-color: #36BF84;
  height: 550px;
  width: auto;
}/*# sourceMappingURL=main.css.map */